html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@keyframes slider {
  0% {
    background-image: url("/images/slide1.jpg");
  }
  33% {
    background-image: url("/images/slide2.jpg");
  }
  66% {
    background-image: url("/images/slide3.jpg");
  }
  100% {
    background-image: url("/images/slide1.jpg");
  }
}

.bg-slider {
  animation: slider 18s infinite ease-in-out;
  background-size: cover;
  width: 100%;
  background-position: center;
}

